* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root{
    --white: #FFFFFF;
    --black: #000000;
    --very-ligh-pink: #C7C7C7;
    --text-input-field: #F7F7F7;
    --hospital-green: #ACD9B2;
    --sm: 14px;
    --md: 16px;
    --lg: 18px;
    }

    body {
        margin: 0;
        font-family: 'Quicksand', 
        sans-serif;
        
    }

    header {
        width: 100%;
        height:1000px;
        background-image: url('../imagenes/mi-venta-de-garage.png');
        background-size: 100% 1800px;
        background-repeat: no-repeat;
        position: relative;
    }

    nav {
        display: flex;
        height: 100%;
        justify-content: flex-end;
        padding: 0 24px;
        height: 60px;
        margin-top: 80px;
        margin-right: 100px;
    }

        

    nav ul {
        list-style: none;
        padding-top: 100px;
        display: flex;
        align-items: center;
        margin: 0;
        height: 60px;
    }

    nav ul li a{
        text-decoration: none;
        color: var(--very-ligh-pink);
        border: 1px sold var(--white);
        padding: 8px;
        border-radius: 8px;
        margin-left: 30px;
    }

    nav ul li a:hover {
        color: var(--hospital-green);
        border: 1px solid var(--hospital-green);
    }


    .search-button{
        background-color: rgb(0, 0, 0, 0);
        border: none;
    }
    .search-button :hover {
        color: var(--hospital-green);
        border: 1px solid var(--hospital-green);
        border-radius: 8px;

    }
    .search-icon {
        width: 22px;
        height: auto;
        padding: auto;

    }
    header .info-conoce {
        position: absolute;
        top: 8%;
        left: 15%;
        transform: translate(-15%, 0);
    }
    .conoce-Garage {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 300px;
        margin-top: 30px;
        height: 212px;
    }

    .conoce-Garage h1 {
        color: white;
        margin-bottom: 20px;
        font-weight: bold;
    }

    .conoce-Garage p {
        color: white;
    }

    .conoce-Garage button {
        background-color: white;
        border: none;
        border-radius: 20px 0 20px 20px;
        width: 100px;
        height: 202px;
        margin-left: 50px;
        margin-top: 10px;
    }

    main {
        position: absolute;
        width: 100%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, 0);
    }
    .categorias-conteiner .grid-container {
        display: grid;
        grid-template-columns: 2fr 2fr;
        grid-template-rows: 2fr;
        max-width: 900px;
        margin: auto;
    }

    .categorias-conteiner {
        padding: 0 50px 40px;
    }

    .categorias-conteiner h3 {
        padding-bottom: 15px;
        text-align: center;
    }

    
    .categorias-conteiner .categoria{
        display: inline-block;
        padding-left: 20px;
        max-width: 30%;
        margin-bottom: 30px;
    }

    .categorias-conteiner .categoria img {
        height: 240px;
        width: 370px;
        object-fit: cover;
    }

    .categorias-conteiner .categoria a {
        margin-top: 20px;
        text-decoration: none;
        font-weight: bold;
        padding-left: 30px;
        color: black;
    }


    /* productos*/
    .main-containter {
        width: 100%;
        background-color: rgb(240, 238, 238);
    }
    .main-containter h3{
        padding-top: 20px;
        place-content: center;
        padding-bottom: 15px;
        text-align: center;
        
    }

    .cards-container {
        margin-top: 70px;
        display: grid;
        grid-template-columns: repeat(auto-fill, 240px); 
        gap: 26px;
        place-content: center;
        width: 100%;
        background-color: rgb(240, 238, 238);
     }

     .product-card {
         width: 240px;
         background-color: white;
     }

     .product-card img {
         width: 240px;
         height: 240px;
         border-radius: 20px 0 20px 20px;
         object-fit: cover;
     }

     .product-info {
         display: grid;
         justify-content: space-between;
         margin-top: 12px;
         padding-left: 15px;
         background-color: white;
     }


     .product-info p:nth-child(1){
         font-weight: bold;
         font-size: 18px;
         font-weight: bold;
         margin-top: 0px;
         margin-bottom: 4px;
         color: rgb(97, 114, 124);
     }

     .product-info p:nth-child(2){
         font-size: 16px;
         font-weight: bold;
         margin-top: 0px;
         margin-bottom: 0;
         color: rgb(73, 154, 234);
     }

    
    
     .foot {
        display: flex;
        width: 100%;
        height: 150px;
        background-color: rgb(73, 154, 234);
    }
    
    .foot section {
        display: flex;
        width: 50%;
        justify-content: center;
        align-items: center;
    }
    
    .foot .left ul {
        font-size: 1.4rem;
        font-weight: 500;
        line-height: 1.8rem;
        list-style: none;
    }
    
    .left li {
        margin: 10px 0;
    }
    
    .left a {
        text-decoration: none;
        color: white;
        font-size: 20px;
        font-weight: bold;
    }
    .raight {
        display: flex;
    }
    .raight img {
        margin-left: 10px;
        border-radius: 100px;
        width: 60px;
        height: 60px;
        padding: 22px 20px;
        background-color: white;
    }